/* #3669a3 */

html{
  background-image:
}

/*header{
	width: 100%;
	color: white;
	min-height: 100px;
  overflow: hidden;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");	
	background-color: #0084FD;
}
*/

body{
  width: 100%;
  /*background-image: url("../Photoshop/naro-2.jpg");*/
  /*background-image: url("../imgs/FondoWeb1.jpg");*/
	background-color: #5C5C5C;
  /*background-size: 1300px;*/
	color:gray;
}


.centrardiv {text-align:center;}

#div {text-align:center;}

span{

  color: black;
}

#estiloRegistro{
  background-color: #45626F;
}

  .caja {
    border: 1px solid white;
    min-height: 300px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .caja2 {
    /*border: 1px solid white;*/
    min-height: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -150px;
  }

  .caja3 {
  border: 1px solid white;
  background-color: white;
  color:gray;
  min-height: 150px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 100%;
  list-style: none;
}

  .cajaMapa {
    border: 1px solid white;
    min-height: 358px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }

  .resaltado{

    font-weight: bold;
    color: #3669a3;
  }
  

  .fuente1 {
    font-family: arial;
    font-size: 25px;
    box-sizing: border-box;
  }


.dropdown-menu{
	color:gray;
}

nav li{

z-index: 1000;
}

nav li > a:hover;{
background-color: balck !important;
color: white !important;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.row2{
	margin-left: 15px;
	margin-right: 15px;
}

#mesaDeTrabajo{
	margin-right: 30px;
}

/*
#imgBloque{

width: 100%;	

}
*/


footer{
  
  margin: auto;
  border-top: 5px double #3669a3;
  padding: 10px;
  margin-top: 100px;
  text-align: center;
  /*text-decoration: none;*/
  color:white;
}

footer ul {
list-style:none;

}